/*disables highlighting when dragging over body*/
body
{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div {
  cursor: default;
}


/*disables highlighting when dragging over content;
	defines dimensions for program & adds background*/
.content {
	height: 341px;
	width:511px;
	background-image:url('img/mpbackground.jpg');
	background-repeat:repeat;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*images for tools table*/
* .btn {
	height: 20px;
	width: 21px;

}
.btn1 {background-image:url('macpaint/img/button1.jpg');
}
.btn2 {background-image:url('macpaint/img/button2.jpg');
}
.btn3 {background-image:url('macpaint/img/button3.jpg');
}
.btn4 {background-image:url('img/button4.jpg');
}
.btn5 {background-image:url('img/button5.jpg');
}
.btn6 {background-image:url('img/button6.jpg');
}
.btn7 {background-image:url('img/button7.jpg');
}
.btn8 {background-image:url('img/button8.jpg');
}
.btn9 {background-image:url('img/button9.jpg');
}
.btn10 {background-image:url('img/button10.jpg');
}
.btn11 {background-image:url('img/button11.jpg');
}
.btn12 {background-image:url('img/button12.jpg');
}
.btn13 {background-image:url('img/button13.jpg');
}
.btn14 {background-image:url('img/14.jpg');
}
.btn15 {background-image:url('img/15.jpg');
}
.btn16 {background-image:url('img/16.jpg');
}
.btn17 {background-image:url('img/17.jpg');
}
.btn18 {background-image:url('img/18.jpg');
}
.btn19 {background-image:url('img/19.jpg');
}
.btn20 {background-image:url('img/20.jpg');
}
.btn21 {background-image:url('img/21.jpg');
}
.btn22 {background-image:url('img/22.jpg');
}
.btn23 {background-image:url('img/23.jpg');
}
.btn24 {background-image:url('img/24.jpg');
}
.btn25 {background-image:url('img/25.jpg');
}
.btn26 {background-image:url('img/26.jpg');
}
.btn27 {background-image:url('img/27.jpg');
}
.btn28 {background-image:url('img/28.jpg');
}
.btn29 {background-image:url('img/29.jpg');
}
.btn30 {background-image:url('img/30.jpg');
}
.btn31 {background-image:url('img/31.jpg');
}
.btn32 {background-image:url('img/32.jpg');
}
.btn33 {background-image:url('img/33.jpg');
}
.btn34 {background-image:url('img/34.jpg');
}
.btn35 {background-image:url('img/35.jpg');
}
.btn36 {background-image:url('img/36.jpg');
}
.btn37 {background-image:url('img/37.jpg');
}
.btn38 {background-image:url('img/38.jpg');
}

#img {
	border: 1px solid black;
}

/*styling for a canvas container that might be used for hand tool implementation*/
#canvasdiv {
	overflow: hidden;
	position:absolute;
	left: 200px;
	top: 0px;
	height: 140px;
	width:300px;
}

#shadowdiv {
  height:14px;
  font-size:12px;
  filter:DropShadow(Color=#000000, OffX=1, OffY=1);
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=.5,offY=-1);
}
#outlinediv {
  height:14px;
  font-size:12px;
  filter:progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=.5,offY=1) 
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=-.5,offY=.5) 
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=.5,offY=-1) 
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=-.5,offY=-.5);
}

.divfont {
  filter:progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=.5,offY=1) 
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=-.5,offY=.5) 
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=.5,offY=-1) 
  progid:DXImageTransform.Microsoft.dropshadow(color=#000000,offX=-.5,offY=-.5);
}

#myCanvas {}

#patternchangeboxdiv {
  display: none;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 601;
  margin: 0;
  padding: 0;
}
#patternchangebox {
  display: block;
}

#leftBox {
  position: absolute;
  left: 23px;
  top: 23px;
  height: 65px;
	width:65px;
	background-image:url('img/mpbackground.jpg');
	background-repeat:repeat;
	z-index: 1000;
}
#rightBox {
  position: absolute;
  left: 103px;
  top: 23px;
  height: 65px;
  width:65px;
  background-image:url('img/18.jpg');
  background-repeat:repeat;
  z-index: 1000;
}

#okEdits{
  position:absolute;
  top: 102px;
  left: 24px;
  z-index: 1001;
  width: 62px;
  height: 14px;
   padding-bottom: 2px;
}
#cancelEdits{
  position: absolute;
  z-index: 1001;
  left: 104px;
  top: 102px;
  width: 62px;
  height: 14px;
   padding-bottom: 2px;
}

#Mirrors {
  display: none;
  position: absolute;
  left: 120px;
  top: 80px;
  z-index: 10001;
  margin: 0;
  padding: 0;
}
#MirrorsPic {
  display: block;
}
#editMirrorBox{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  border: 1px solid yellow;
  z-index: 1000;
}
#okMirrors{
  position:absolute;
  top: 152px;
  left: 24px;
  z-index: 10002;
  width: 62px;
  height: 12px;
  padding-bottom: 2px;
}
#noneMirrors{
  position: absolute;
  z-index: 10002;
  left: 104px;
  top: 152px;
  width: 62px;
  height: 12px;
   padding-bottom: 2px;
}

.mirrorText {
  position: relative;
  top: -3px;
}
#overlay{
  position: absolute;
  z-index: 10000;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 500px;
  display: none;
  background: black;
  opacity: .3;
}

.goodiesCheck {
  position: relative;
  margin: 0;
  padding: 0;
}

#tempContainer {
  position: absolute;
  top: 0px;
  left: 600px;
  border: 1px solid black;
}

#temp {
  border: 1px solid black;
}

#tempContainer2 {
  position: absolute;
  display: none;
  top: 0px;
  left: 1200px;
  border: 1px solid black;
}

#temp2 {
  border: 1px solid black;
}

#newPatContainer{
  position: absolute;
  top: 360px;
  left: 200px;
}
#newPat{

}

#newPatContainer2{
  position: absolute;
  top: 360px;
  left: 250px;
}
#newPat{

}