/*for future styling*/
body{}
/* pop-up/pic for 'about macpaint' section*/
#aboutDiv {
	position: absolute;
	display: none;
	left:115px;
	top: 85px;
	z-index: 1000;
}
#aboutPic{
	position:absolute;
}
#aboutOk {
	position: absolute;
	height: 16px;
	width: 69px;
	left: 282px;
	top: 64px;
	padding-bottom: 2px;
}
#aboutText {
	position:relative;
	top: -1px;
}
/*image that appears if user clicks 'no' inside quit pop-up while 'eject' is grayed out*/
#discPopup {
	position:absolute;
	display: none;
	top: 90px;
	left: 130px;
}
/*temp canvas/container used for selection tool*/
#newselectioncanvas {
	display: block;
	z-index: 999;
	position: absolute;
}
#selectionContainer {
	position: absolute;
	display: none;
	z-index: 1001;
}

/*set dimensions and add main background*/
.content {
	height: 341px;
	width:511px;
	background-image:url('img/mpbackground.jpg');
	background-repeat:repeat;
}
#toolstable {
	margin: 0;
	height: 219px;
	width: 51px;
	position:absolute;
	top: 36px;
	left: 23px;
	border: 1px solid black;
	box-shadow: 1px 1px #000000;
}
/*tool buttons table*/
.tools {
	color: #000000;
	margin: 0;	
	position:absolute;
	left: 23px;
	top: 36px;
	border-collapse: collapse;
}

.tools td {
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
}

/*images for tools table*/
* .btn {
	height: 20px;
	width: 21px;
}

/*brush patterns table*/
.rightbrushtable {
	color: #000000;
	margin: 0;
	padding: 0px;
	position:absolute;
	left:129px;
	top: 307px;
	border: 1px solid #000000;
	border-collapse: collapse;
	box-shadow: 1px 1px #000000;
}

.rightbrushtable td {
	border-bottom: none;
	padding: 0px;
	text-align: left;
	background-repeat: repeat;
}
/*sets the background of each brush pattern table cell*/
#pattern1 {
	background-image:url('img/pattern1.jpg');
	height: 16px;
	width: 19px;
}
#pattern2 {
	background-image:url('img/pattern2.jpg');
	height: 16px;
	width: 19px;
}
#pattern3 {
	background-image:url('img/pattern3.jpg');
	width: 19px;
	height: 16px;
}
#pattern4 {
	background-image:url('img/pattern4.jpg');
	width: 19px;
	height: 16px;
}
#pattern5 {
	background-image:url('img/pattern5.jpg');
	width: 19px;
	height: 16px;
}
#pattern6 {
	background-image:url('img/pattern6.jpg');
	width: 19px;
	height: 16px;}

#pattern7 {
	background-image:url('img/pattern7.jpg');
	width: 19px;
	height: 16px;
}
#pattern8 {
	background-image:url('img/pattern8.jpg');
	width: 19px;
	height: 16px;
}
#pattern9 {
	background-image:url('img/pattern9.jpg');
	width: 19px;
	height: 16px;
}
#pattern10 {
	background-image:url('img/pattern10.jpg');
	width: 19px;
	height: 16px;
}
#pattern11 {
	background-image:url('img/pattern11.jpg');
	width: 19px;
	height: 16px;
}
#pattern12 {
	background-image:url('img/pattern12.jpg');
	width: 19px;
	height: 16px;
}
#pattern13 {
	background-image:url('img/pattern13.jpg');
	width: 19px;
	height: 16px;
}
#pattern14 {
	background-image:url('img/pattern14.jpg');
	width: 19px;
	height: 16px;
}
#pattern15 {
	background-image:url('img/pattern15.jpg');
	width: 19px;
	height: 16px;
}
#pattern16 {
	background-image:url('img/pattern16.jpg');
	width: 19px;
	height: 16px;
}
#pattern17 {
	background-image:url('img/pattern17.jpg');
	width: 19px;
	height: 16px;
}
#pattern18 {
	background-image:url('img/pattern18.jpg');
	width: 19px;
	height: 16px;
}
#pattern19 {
	background-image:url('img/pattern19.jpg');
	width: 19px;
	height: 16px;
}
#pattern20 {
	background-image:url('img/pattern20.jpg');
	width: 19px;
	height: 16px;
}
#pattern21 {
	background-image:url('img/pattern21.jpg');
	width: 19px;
	height: 16px;
}
#pattern22 {
	background-image:url('img/pattern22.jpg');
	width: 19px;
	height: 16px;
}
#pattern23 {
	background-image:url('img/pattern23.jpg');
	width: 19px;
	height: 16px;
}
#pattern24 {
	background-image:url('img/pattern24.jpg');
	width: 19px;
	height: 16px;
}
#pattern25 {
	background-image:url('img/pattern25.jpg');
	width: 19px;
	height: 16px;
}
#pattern26 {
	background-image:url('img/pattern26.jpg');
	width: 19px;
	height: 16px;
}
#pattern27 {
	background-image:url('img/pattern27.jpg');
	width: 19px;
	height: 16px;
}
#pattern28 {
	background-image:url('img/pattern28.jpg');
	width: 19px;
	height: 16px;
}
#pattern29 {
	background-image:url('img/pattern29.jpg');
	width: 19px;
	height: 16px;
}
#pattern30 {
	background-image:url('img/pattern30.jpg');
	width: 19px;
	height: 16px;
}
#pattern31 {
	background-image:url('img/pattern31.jpg');
	width: 19px;
	height: 16px;
}
#pattern32 {
	background-image:url('img/pattern32.jpg');
	width: 19px;
	height: 16px;
}
#pattern33 {
	background-image:url('img/pattern33.jpg');
	width: 19px;
	height: 16px;
}
#pattern34 {
	background-image:url('img/pattern34.jpg');
	width: 19px;
	height: 16px;
}
#pattern35 {
	background-image:url('img/pattern35.jpg');
	width: 19px;
	height: 16px;
}
#pattern36 {
	background-image:url('img/pattern36.jpg');
	width: 19px;
	height: 16px;
}
#pattern37 {
	background-image:url('img/pattern37.jpg');
	width: 19px;
	height: 16px;
}
#pattern38 {
	background-image:url('img/pattern38.jpg');
	width: 19px;
	height: 16px;
}
/*background-image: url('images/pattern1.jpg');*/

/*holds image for current pattern*/
.innerimagetable {
	position:absolute;
	left: 7px;
	top: 5px;
	width: 28px;
	height: 23px;
	border: 1px solid #000000;
	background-image: url('img/pattern1.jpg');
	border-collapse: collapse;
	background-repeat:repeat;
	z-index: 500;
}

.outerleftbrushtable {
	color: #000000;
	margin: 0px;
	padding: 0px;	
	position:absolute;
	height: 33px;
	width: 42px;
	left: 86px;
	top: 307px;
	background: white;
	border: 1px solid #000000;
	border-collapse: collapse;
	box-shadow: 1px 1px #000000;
}
/*table for changing line thickness*/
#linestable{
	margin: 0;
	height: 75px;
	width: 51px;
	position:absolute;
	top: 265px;
	left: 23px;
	border: 1px solid black;
	box-shadow: 1px 1px #000000;
}
.linethicknesstable {
	color: #000000;
	margin: 0px;
	padding: 0px;
	line-height: 0em;	
	position:absolute;
	left: 23px;
	top: 265px;
	width: 51px;
	height: 75px;
	background: #FFFFFF;
	border: 1px solid black;
	border-collapse: collapse;
}

.linethicknesstable td {
	padding: 0px;
	margin: 0px;
}

#linethicknesscheck {
	position:absolute;
	left: 27px;
	top: 273px;
	z-index:8000;
}

#linewhitespace {
	position:absolute;
	left: 23px;
	top: 265px;
	z-index:7000;
}
/*checkbox images for linethicknesstable*/
#checkrow0 {
	height: 16px;
	width: 14px;
}

#checkrow1 {
	height: 11px;
	width: 14px;
}

#checkrow2 {
	height: 11px;
	width: 14px;
}

#checkrow3 {
	height:14px;
	width:14px;
}

#checkrow4 {
	height:17px;
	width: 14px;
}

/*#linecheckimg {
	position: absolute;
	left: 27px;
	top: 10px;
	z-index: -20000;
}*/

/*adds spacing around left box in window bar*/
#cboxouterbox {
	position:absolute;
	top: 41px;
	left: 96px;
	width: 13px;
	height: 11px;
	background: white;
	z-index: 600;
}
/*left box in window bar*/
#closecanvastable {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 9px;
	height: 9px;
	z-index:520;
	left: 97px;
	top: 41px;
	border: 1px solid black;
	background: white;
	z-index: 650;
}
/*cell of closecanvas table*/
#checkbox {
	position: absolute;
	border:none;
	top: 1px;
	left: 1px;
	display:none;
	padding: 0px;
	margin: 0px;
}
/*image that appears when checkbox is active*/
#closecanvas {
	position: absolute;
	border: none;
	padding: 0px;
	margin: 0px;
	left: -1px;
	top: -1px;

}

/*holds file name in window bar*/
/*#filename {
	position:absolute;
	left: 181px;
	top:2px;
}*/
#tablefilename {
	padding-left: 3px;
	padding-right: 3px;
	position: absolute;
	line-height: .9em;
	top: 38px;
	left: 260px;
	height: 12px;
	background: white;
	font-family: 'Chicago';
	font-size: 12px;
	text-align: center;
	z-index:600;
	}
/*lined window bar */
.rowlines {
	position: absolute;
	display: block;
	border:1px solid #000000;
	box-shadow: 1px 0 #000000;
	background: white;
	z-index:550;
	top: 37px;
	left:88px;
}
/*table becomes visible when window bar disappears*/
#behinduppercanvastable {
	position: absolute;
	display: block;
	background: white;
	border:1px solid #000000;
	box-shadow: 1px 0 #000000;
	z-index:549;
	width: 414px;
	height: 19px;
	top: 37px;
	left:88px;
}
/*container for window bar and main canvas*/
#contents{
	display: block;
}

/*images for the 4 rounded corners*/
.topleftcorner {
	left: 8px;
	position: absolute;
	z-index: 900;
}

.toprightcorner {
	position: absolute;
	left: 514px;
	z-index: 900;
}

.bottomleftcorner {
	position: absolute;
	top: 343px;
	z-index:650;
}

.bottomrightcorner {
	position: absolute;
	top: 344px;
	left: 514px;
	z-index:650;
}

/*styling for buttons inside pop-up windows*/
.popupbuttons {
	position: absolute;
	background: white;
	width: 78px;
	height: 14px;
	border: 1px solid black;
	font-family: "Chicago";
	text-align: center;
	font-size: 12px;
	padding-bottom: 2px;
	-moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
	z-index:700;
}
/*stylings for introduction feature*/
#intro {
	position: absolute;
	cursor: default;
	display: none;
	overflow: hidden;
	border: 1px solid black;
	left: 88px;
	top: 55px;
	height: 239px;
	width: 414px;
	z-index: 10001;
}

#introduction {
	display: block;
}

#introbutton {
	left: 320px;
	top: 205px;
	width: 62px;
   	height: 16px;
   	width: 78px;
	padding: 0;
}
/*stylings for shortcuts feature*/
#shortcut {
	position: absolute;
	cursor: default;
	display: none;
	overflow: hidden;
	border: 1px solid black;
	left: 88px;
	top: 55px;
	height: 239px;
	width: 414px;
	z-index: 10001;
}

#shortcuts {
	display: block;
}

#sCutbutton {
	left: 318px;
	top: 205px;
	width: 62px;
    height: 16px;
   	width: 78px;
	padding: 0;
}
/*pop-up container with buttons*/
.popupdiv {
	position: absolute;
	display: none;
	cursor: default;
	border: 1px solid black;
	left: 150px;
	top: 120px;
	height: 108px;
	width: 258px;
	z-index: 9000;
}

/*pop-ups with buttons*/
.choicespopup {
	position: absolute;
	background:white;
	width: 74px;
	border: 1px solid black;
	font-family: "Chicago";
	text-align: center;
	font-size: 12px;
	-moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:10000;
}
/*positions buttons within pop-up windows*/
#cancelSave {
	left: 161px;
	top: 69px;
    height: 16px;
   	width: 72px;
	padding: 0;
}
#yesSave {
	left: 23px;
	top:45px;
    height: 16px;
   	width: 72px;
	padding: 0;
}

#noSave {
	left:23px;
	top: 69px;
    height: 16px;
   	width: 72px;
	padding: 0;
}

#cancelQuit {
	left: 161px;
	top: 69px;
    height: 16px;
   	width: 72px;
	padding: 0;
}

#yesQuit {
	left: 23px;
	top:45px;
    height: 16px;
   	width: 72px;
	padding: 0;
}

#noQuit {
	left:23px;
	top: 69px;
    height: 16px;
   	width: 72px;
	padding: 0;
}

#cancelClose {
	left: 161px;
	top: 69px;
   	height: 16px;
   	width: 72px;
	padding: 0;
}
.closeText {
	position: relative;
	top: -2px;
}

#yesClose {
	left: 23px;
	top:45px;
    height: 16px;
   	width: 72px;
	padding: 0;
}

#noClose {
	left:23px;
	top: 69px;
    height: 16px;
   	width: 72px;
	padding: 0;
}
#revertdiv {
	position: absolute;
	display: none;
	width: 285px;
	height: 105px;
	left: 120px;
	top: 100px;
	z-index: 5000;
	border: none;
}
#cancelRevert {
	position: absolute;
	top: 70px;
	left: 182px;
	height: 14px;
   	width: 78px;
	padding: 0;
	z-index: 5500;
	background: white;
	padding-bottom: 2px;
	-moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px 5px;

}
#yesRevert{
	position: absolute;
	top: 70px;
	left: 86px;
	height: 14px;
   	width: 78px;
	padding: 0;
	z-index: 5500;
	background: white;
	padding-bottom: 2px;
	-moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
/*giant container for canvas used for dragging tool implementation*/
#lefttop {
	display: none;
	position: absolute;
	left: 41px;
	top: 25px;
	z-index: 300000;
}
#leftbottom {
	display: none;
	position: absolute;
	left: 41px;
	top: 25px;
	z-index: 300000;
}
#leftmiddle {
	display: none;
	position: absolute;
	left: 41px;
	top: 25px;
	z-index: 300000;
}
#middletop {
	display: none;
	position: absolute;
	left: 41px;
	top: 25px;
	z-index: 300000;
}

#canvasbox {
	position:absolute;
	overflow: hidden;
	height: 239px;
	width: 414px;
	left: 88px;
	top: 55px;
	background-image:url('img/canvasboxbg.jpg');
	background-repeat:repeat;
	border: 1px solid black;
	box-shadow: 1px 1px #000000;
	z-index: 550;
}
#largebox{
	position: absolute;
	left: -165px;
	top: -479px;
	height: 1200px;
	width:745px;
	background: none;
	border: 1px solid black;
}
/*main drawing canvas*/
.canvas {
	position: absolute;
	margin: 0px;
	padding: 0px;
    left: -91px;
    top: -100px;
	background: white;
	z-index: 600;
}
#selected {
	position:absolute;
	z-index: 1000;
}
#scaledCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
}
#yesScaled{
	position: absolute;
	left: 320px;
	top: 160px;
	z-index: 550;
	width: 78px;
    height: 14px;
    padding-bottom: 2px;
}
#cancelScaled{
	position:absolute;
	left: 320px;
	top: 190px;
	z-index: 550;
	width: 78px;
    height: 14px;
    padding-bottom: 2px;
}
#scaledcanvasdiv{
	position: absolute;
	left: 111px;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	height: 239px;
	width: 190px;
}
#viewBox {
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	background-color: transparent;
	z-index: 550;
}
#vbContainer {
	position: relative;
	left: 29px;
	top: 33px;
	width: 136px;
	height: 78px;
	background: none;
	border: 1px dotted black;
	z-index: 550;
}
#img {
	border: 1px solid black;
}

/*styling for a canvas container that might be used for hand tool implementation*/


#brushespopup{
	display:none;
	position:absolute;
	z-index: 5000;
	top: 100px;
	left: 100px;
}
#brushpopupimage{}

#brushestablediv{
	background: none;
	position: absolute;
	z-index: 100000;
	width: 270px;
	height: 130px;
	top: 22px;
	left: 18px

}
    
#brushestable{
	background:white;
	opacity: 0;
	width: 270px;
	height: 130px;
	position: absolute;
	border-collapse:collapse;
	border:none;

	z-index: 1000;
	/*border: 2px solid black;*/
}

#brushestable td{
	border: none;
}
#brushbox {
	display: none;
	position: absolute;
	height: 28px;
	width: 28px;
	left: 156px;
	top: 156px;
	border: 2px solid black;
	z-index: 6000;
}


#gamepic {
	display: none;
	position: absolute;
	left: 109px;
	top: 88px;
	z-index: 1000000;
}

#alarmpic {
	display: block;
	position: absolute;
	left: 270px;
	top: 70px;
	z-index: 1000001;
}
#txt {
	display: block;
	position: absolute;
	left: 296px;
	top: 70px;
	z-index: 1000002;
	font-family: "Chicago";
	font-size: 12px;
	cursor: default;
}
#txt2 {
	display: block;
	position: absolute;
	left: 296px;
	top: 91px;
	z-index: 100000000;
	font-family: "Chicago";
	font-size: 12px;
	cursor: url('img/line2cross.png'), default;
}
#txt3 {
	display: none;
	position: absolute;
	left: 296px;
	top: 91px;
	z-index: 100000000;
	font-family: "Chicago";
	font-size: 12px;
	cursor: url('img/line2cross.png'), default;
}

#txt4 {
	display: none;
	position: absolute;
	left: 296px;
	top: 91px;
	z-index: 100000000;
	font-family: "Chicago";
	font-size: 12px;
	cursor: url('img/line2cross.png'), default;
}

#gametable {
	display: none;
	position: absolute;
	left: 114px;
	top: 111px;
	z-index: 1000001;
	margin: 0;
	padding:0;
	border-collapse: collapse;
}

#filename{
	position: absolute;
	height: 11px;
	line-height: .9em;
	width: 64px;
	left: 181px;
	top: 4px;
	padding: 0;
	margin: 0 auto;
	border: none;
	background: white;
	z-index: 600;
	text-align: center;
	font-family: 'Chicago';
	font-size: 12px;
}

#filenameinner{
      position: absolute;
      height: 11px;
      line-height: .9em;
      width: 64px;
      left: 0px;
      top: 2px;
      padding: 0;
      margin: 0 auto;
      border: none;
      background: white;
      z-index: 600;
      text-align: center;
      font-family: 'Chicago';
      font-size: 12px;
    }

    @-moz-document url-prefix() {
    #filenameinner {
        top: 0px;
    }
}

#namecontainer {
	position: absolute;
	width: 414px;
	height: 19px;
	top: 37px;
	left:88px;
}

#savedocumentdiv{
	position: absolute;
	display: block;
	z-index: 10000;
	left: 100px;
	top: 100px;
}
#savedocument{
	position: absolute;
	display: none;
	z-index: 10000;
}
#filenametext{
	position: absolute;
	display: none;
	z-index: 10000;
	width: 200px;
}
#typed{	
	position: absolute;
	border: 1px solid gray;
	top: 39px;
	left: 19px;
	width: 172px;
	height: 18px;
	outline: none;
}
::selection {
  background: black;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: black;
  color: white;
  text-shadow: none;
}
#saveYes{
	display: none;
	position:absolute;
	background:white;
	border: 1px solid black;
	left: 20px;
	top: 82px;
	height: 14px;
	padding-bottom: 2px;
}
#saveCancel{
	display: none;
	position:absolute;
	background:white;
	border: 1px solid black;
	margin: 0 auto;
	left: 122px;
	top: 82px;
	height: 14px;
	padding-bottom: 2px;
}
#saveEject{
	display: none;
	position:absolute;
	background:white;
	border: 1px solid black;
	left: 225px;
	top: 51px;
	height: 14px;
	padding-bottom: 2px;
}
#saveDrive{
	display: none;
	position:absolute;
	background:white;
	border: 1px solid black;
	left: 225px;
	top: 82px;
	height: 14px;
	padding-bottom: 2px;
}
.saveDivs {
	position: absolute;
	background:white;
	width: 68px;
	cursor:default;
	border: 1px solid black;
	font-family: "Chicago";
	text-align: center;
	font-size: 12px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:10000;
}


#alarmCheckbox {
	left: 280px;
	top: 75px;
	border: 1px solid black;
	position: absolute;
	height: 9px;
	width: 9px;
	background: none;
	z-index: 1100000;
}
#closeAlarm{
	display: none;
	position: absolute;
	border:none;
	left: 0px;
	top: 0px;
	z-index: 1100000;
}
#alarmdiv{
	background:white;
}
#keyover {
	left: 382px;
	top: 71px;
	position: absolute;
	z-index: 1200000;
}
#keyoverpic {
	display: block;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 1200000;
}
#keydowno {
	left: 385px;
	top: 77px;
	position: absolute;
	z-index: 1200000;
}
#keydownopic {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 1200000;
}

#alarmdropdown {
	left: 270px;
	top: 89px;
	position: absolute;
	background: white;
	cursor: url('img/line2cross.png'), default;
	z-index: 1200000;
}
#alarmdropdownpic {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 1200000;
}
#alarmdropdown2 {
	left: 270px;
	top: 110px;
	position: absolute;
	z-index: 1200000;
	background: white;
	display: none;
}
#alarmdrop {
	position: absolute;
	border-collapse: collapse;
	background: white;
	width: 130px;
	height: 32px;
	left: 270px;
	top: 110px;
	z-index: 10000000;
	border: 1px solid black;
}
#inverseclock {
	display: none;
	position: absolute;
	top: 2px;
	left: 2px;
}

#inversealarm{
	display: none;
	position: absolute;
	left: 88px;
	top: 2px;
}
#inversedate{
	display: none;
	position: absolute;
	left: 45px;
	top: 2px;
}
#url{
	border: 1px solid black;
	background: white;
	position: absolute;
	z-index: 10000;
}
#editflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 124px;
  	height: 228px;
	left: 76px;
	top: 27px;
	z-index: 20000;
}
#goodiesflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 105px;
  	height: 145px;
	left: 113px;
	top: 27px;
	z-index: 20000;
}
#fileflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 100px;
  	height: 182px;
	left: 41px;
	top: 27px;
	z-index: 20000;
}
#fontflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 75px;
  	height: 127px;
	left: 177px;
	top: 27px;
	z-index: 20000;
}
#fontsizeflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 67px;
  	height: 164px;
	left: 217px;
	top: 27px;
	z-index: 20000;
}
#styleflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 127px;
  	height: 177px;
	left: 285px;
	top: 27px;
	z-index: 20000;
}
#appleflashdiv{
	position: absolute;
	display: none;
	color: transparent;
  	width: 130px;
  	height: 177px;
	left: 23px;
	top: 27px;
	z-index: 20000;
}
#cursorcanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: transparent;
	z-index: 21000;
	cursor: none;
}



